html{
    padding: 2%;
    height: 100%;
    background-color: white;
}
body{
    padding: 2%;
    height: 100%;
    background-color: rgb(36, 36, 167);
}
.box1{
    padding: 2%;
    height: 100%;
    background-color: white;
    border: 2px solid rgb(103, 103, 255);
}
header{
    padding: 2%;
    height: 35%;
    background-color: rgb(13, 13, 172);
    border: 2px solid rgb(103, 103, 255);
}
section{
    padding: 2%;
    height: 60%;
    background-color: rgb(13, 13, 172);
    margin-top: 2%;
    border: 2px solid rgb(103, 103, 255);
    position: relative;
}
.white-box{
    background-color: white;
    padding: 2%;
    display: inline-block;
    margin-right: 2%;
    height: 100%;
    width: 23.2%;
}
.white-box:last-child {
    margin-right: 0;
}
.white-box div{
    background-color: lightblue;
    height: 100%;
    position: relative;
}
.white-box div p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    color: white;
}
section h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
h4{
    position: absolute;
    top: 0.5%;
    left: 50%;
    transform: translate(-50%, 0.5%);
}